<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/font.css">
    <link rel="stylesheet" href="/public/css/xadmin.css">
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/public/js/xadmin.js"></script>
    <script type="text/javascript" src="/public/js/template-web.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="/welcome">首页</a>
        <a href="javascript:;">>权限分类管理</a>
        <a>
          <cite>权限分类列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so layui-form-pane">
          <input class="layui-input" placeholder="分类名" lay-verify="required" name="name">
          <button class="layui-btn"  lay-submit lay-filter="cateAdd"><i class="layui-icon"></i>增加</button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <span class="x-right" style="line-height:40px" id="totalcount"></span>
      </xblock>
      <table class="layui-table" id="table" lay-filter='cateList'>
        <!-- <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" id="select-header" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>分类名</th>
            <th>操作</th>
        </thead>
        <tbody>
         
        </tbody> -->
      </table>
      <div class="page">
      </div>

    </div>
    
 <script type="text/html" id="toolbar">
      <div class="layui-btn-container">
        <a title="编辑" lay-event="edit" href="javascript:;">
          <i class="layui-icon">&#xe642;</i>
        </a>
        <a title="删除" lay-event="delete" href="javascript:;">
         <i class="layui-icon">&#xe640;</i>
        </a>
      </div>
  </script>

    <script>

     
      function saveChange(text,id,callback){
        // const tdObj = $('#td'+ input.dataset.id);
        $.ajax({
          url:'/api/cate/edit/'+id,
          method:'POST',
          data:{
            name:text
          },
          type:'json',
          success:function(resData){
            if(callback) callback(resData.status)
          },
          error:function(err){
            tdObj.attr('edit','1');
            tdObj.html(input.dataset.content)
            layer.msg('服务器开小差了',{type:2,shade:0.2,time:1000});
          }
        })
      }
       
       layui.use(['table','form','laydate'], function(){
        const form = layui.form;
        const laydate = layui.laydate;
        const table = layui.table;
        const $ =  layui.jquery;
         
         //自定义验证规则
         form.verify({
            name: function(value){
              if(value.length < 5){
                return '名称至少得4个字符啊';
              }
            }
          });
       
          
          //第一个实例
          const tableObj = table.render({
            elem: '#table'
            ,height: 'full-204'
            ,url: '/api/cate/list' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,cols: [[ //表头
              {width:'10%',type:'checkbox'}
              ,{field: 'id', title: 'ID', width:'10%', sort: true}
              ,{field:'name',title: '权限分类名称<i class="layui-icon">&#xe642;</i>', width:'30%',edit:true}
              ,{field: 'createdTime', title: '创建时间',width:'30%'}
              ,{title: '操作',width:'20%',toolbar:'#toolbar'}
            ]]
            ,done:function(res, curr, count){
            }
          });

          //监听事件
          table.on('tool(cateList)', function(obj){
            switch(obj.event){
              case 'delete':
                member_del(obj.data.id,function(){
                    obj.del()
                })
              break;
              case 'edit':
              layer.confirm('带有<i class="layui-icon">&#xe642;</i>图标的单元格，可单击进行修改',{
                btn:'我知道',function(index){
                layer.close(index)
              }
            })
              break;
            };
          });
 
          table.on('edit(cateList)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
              saveChange(obj.value,obj.data.id,function(success){
                if(!success){
                  layer.msg('修改失败',{type:2,shade:0.2,time:1000});
                  tableObj.reload();
                }
              })
          });

        $('#delAll').on('click',function(){
          const checkStatus =  table.checkStatus('table')
          const ids = checkStatus.data.map(obj=>{
              return obj.id;
          })
          delAll(ids,function(){
              table.reload('table',{})
          })
        })

         
        //监听提交
        form.on('submit(cateAdd)', function(data){
           
           // 弹出提示
           let index = null;
           const id = setTimeout(() => {
               clearTimeout(id);
               if(!index){
                 index = layer.msg('玩命卖萌中...',{type:1,shade:0.5,time:0});
               }
           }, 1000);
 
           $.ajax({
                   url:'/api/cate/add',
                   data:data.field,
                   method:'POST',
                   type:'json',
                   success: function(data){  
                     if(data.status){
                       //清除数据
                       $('form input').val('')
                       tableObj.reload({})
                       layer.msg(data.message,{icon:1,shade:0.2,time:1000});
                     }else{
                       layer.msg(data.message,{icon:2,shade:0.2,time:1000});
                     }
                     layer.close(index);
                     index = " ";
                   },
                   error:function(err){
                     layer.msg('服务器开小差了',{icon:2,shade:0.2,time:1000});
                     layer.close(index);
                     index = " ";
                   }
            });
           return false;
        });
 
        
      });
  
      
      /*删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
            $.ajax({
              url:'/api/cate/remove',
              data:{
                ids:id
              },
              method:'POST',
              type:'json',
              success:function(data){
                if(data.status){
                  //发异步删除数据
                  $(obj).parents("tr").remove();
                  layer.msg(data.message,{icon:1,time:1000});
                }else{
                  layer.msg(data.message,{icon:5,time:1000});
                }
              },
              error:function(res){
                layer.msg('服务器开小差了',{type:5,shade:0.2});
              }
            })
          });
      }


      // 批量删除
      function delAll (argument) {
        const selects = $('.layui-form-checked').not(totalSelect);
          if(selects.length <=0){
            layer.msg('并未选择',{icon:5,time:1000});
            return;
          }
        layer.confirm('确认要删除吗？这个事情很严重，考虑一下下！',function(index){
            const ids = []
            for(let i = 0 ;i < selects.length;i++){
               const selectObj =  selects.eq(i)
              ids.push(selectObj.get(0).dataset.id);
            }
            $.ajax({
              url:'/api/cate/remove',
              data:{
                ids:ids.join(",")
              },
              method:'POST',
              type:'json',
              success:function(data){
                if(data.status){
                  //发异步删除数据
                  selects.parents('tr').remove();
                  layer.msg(data.message,{icon:1,time:1000});
                }else{
                  layer.msg(data.message,{icon:5,time:1000});
                }
              },
              error:function(res){
                layer.msg('服务器开小差了',{type:5,shade:0.2});
              }
          });
        });
      }
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>